In [6]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from difflib import SequenceMatcher

# Show sample data

## Metacritic

In [7]:
# Movie Info
df_metacritic_movie = pd.read_csv("/Users/trananhvu/Documents/Tichhopdulieu/Data_Integration_Group23/Data/metacritic/movieDatasetClean.csv")
df_metacritic_movie.head()

,title,age_rating,rating,rank,genre,director,year,producer,actor,runtime,description,img,url
0,Citizen Kane,15,8.4,1,Drama,Orson Welles,1941,RKO Radio Pictures,Joseph Cotten,119,"Following the death of a publishing tycoon, ne...",https://static.metacritic.com/images/products/...,https://www.metacritic.com/movie/citizen-kane
1,The Godfather,18,9.2,2,Drama,Francis Ford Coppola,1972,Paramount Pictures,Al Pacino,175,Francis Ford Coppola's epic features Marlon Br...,https://static.metacritic.com/images/products/...,https://www.metacritic.com/movie/the-godfather
2,Rear Window,0,8.8,3,Mystery,Alfred Hitchcock,1954,Paramount Pictures,Frank Cady,112,A wheelchair-bound photographer spies on his n...,https://static.metacritic.com/images/products/...,https://www.metacritic.com/movie/rear-window
3,Casablanca,15,8.9,4,Drama,Michael Curtiz,1943,Warner Bros.,Humphrey Bogart,102,"A Casablanca, Morocco casino owner in 1941 she...",https://static.metacritic.com/images/products/...,https://www.metacritic.com/movie/casablanca
4,Boyhood,18,7.5,5,Drama,Richard Linklater,2014,IFC Films,Bonnie Cross,165,"Filmed over 12 years with the same cast, Richa...",https://static.metacritic.com/images/products/...,https://www.metacritic.com/movie/boyhood

In [8]:
# Review Info
df_metacritic_review = pd.read_csv("/Users/trananhvu/Documents/Tichhopdulieu/Data_Integration_Group23/Data/metacritic/reviewDatasetClean.csv", 
                                   lineterminator='\n')
df_metacritic_review.head()

,title,user,type,grade,review,spoilers,language
0,Citizen Kane,larsenonfilm,reviewer,100,...,0,en
1,Citizen Kane,chicago-sun-times,reviewer,100,...,0,en
2,Citizen Kane,new-york-daily-news,reviewer,100,...,0,en
3,Citizen Kane,reelviews,reviewer,100,...,0,en
4,Citizen Kane,empire,reviewer,100,...,0,en

## Rotten Tomatoes

In [9]:
# Movie Info
df_tomato_movie = pd.read_csv("/Users/trananhvu/Documents/Tichhopdulieu/Data_Integration_Group23/Data/rotten_tomatoes/rotten_tomatoes_movies.csv")
df_tomato_movie.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [10]:
# Review Info
df_tomato_review = pd.read_csv("/Users/trananhvu/Documents/Tichhopdulieu/Data_Integration_Group23/Data/rotten_tomatoes/rotten_tomatoes_critic_reviews.csv")
df_tomato_review.head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...

## MovieLen

In [11]:
# Movie Info
df_movielen_movie = pd.read_csv("/Users/trananhvu/Documents/Tichhopdulieu/Data_Integration_Group23/Data/movielen/movies.csv")
df_movielen_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
# Rating Info
df_movielen_rating = pd.read_csv("/Users/trananhvu/Documents/Tichhopdulieu/Data_Integration_Group23/Data/movielen/ratings.csv")
df_movielen_rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

## TMDB

In [13]:
# Movie Info
df_tmdb_movie = pd.read_csv("/Users/trananhvu/Documents/Tichhopdulieu/Data_Integration_Group23/Data/tmdb/tmdb.csv")
df_tmdb_movie.head()

,Unnamed: 0,id,title,overview,popularity,vote_average,vote_count,release_date,keywords,genres,cast,crew
0,0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",31.222,8.7,3323,1995-10-20,[],"['Comedy', 'Drama', 'Romance']","['Shah Rukh Khan', 'Kajol', 'Amrish Puri', 'An...",['Aditya Chopra']
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,76.654,8.7,20434,1994-09-23,"['prison', 'corruption', 'police brutality', '...","['Drama', 'Crime']","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",['Frank Darabont']
2,2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",75.306,8.7,15270,1972-03-14,"['italy', 'loss of loved one', 'love at first ...","['Drama', 'Crime']","['Marlon Brando', 'Al Pacino', 'James Caan', '...",['Francis Ford Coppola']
3,3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,21.501,8.6,1369,2020-07-31,['based on novel or book'],['Romance'],"['Melanie Zanetti', 'Giulio Berruti', 'James A...",['Tosca Musk']
4,4,424,Schindler's List,The true story of how businessman Oskar Schind...,40.585,8.6,12202,1993-11-30,"['based on novel or book', 'factory', 'concent...","['Drama', 'History', 'War']","['Liam Neeson', 'Ben Kingsley', 'Ralph Fiennes...",['Steven Spielberg']

# Data Info

In [14]:
print("Datasize")
print("Metacritic movies: "+str(len(df_metacritic_movie)))
print("Metacritic reviews: "+str(len(df_metacritic_review)))
print("Rotten Tomatoes movies: "+str(len(df_tomato_movie)))
print("Rotten Tomatoes reviews: "+str(len(df_tomato_review)))
print("MovieLen movies: "+str(len(df_movielen_movie)))
print("MovieLen ratings: "+str(len(df_movielen_rating)))
print("TMDB movies: "+str(len(df_tmdb_movie)))

Datasize
Metacritic movies: 14213
Metacritic reviews: 583727
Rotten Tomatoes movies: 17712
Rotten Tomatoes reviews: 1130017
MovieLen movies: 62423
MovieLen ratings: 25000095
TMDB movies: 9480

In [15]:
print("Movie Info Columns")
print("Metacritic movies info columns: "+ str(list(df_metacritic_movie.columns)))
print("Rotten Tomatoes movies info columns: "+ str(list(df_tomato_movie.columns)))
print("MovieLen movies info columns: "+ str(list(df_movielen_movie.columns)))
print("TMDB movies info columns: "+ str(list(df_tmdb_movie.columns)))

Movie Info Columns
Metacritic movies info columns: ['title', 'age_rating', 'rating', 'rank', 'genre', 'director', 'year', 'producer', 'actor', 'runtime', 'description', 'img', 'url']
Rotten Tomatoes movies info columns: ['rotten_tomatoes_link', 'movie_title', 'movie_info', 'critics_consensus', 'content_rating', 'genres', 'directors', 'authors', 'actors', 'original_release_date', 'streaming_release_date', 'runtime', 'production_company', 'tomatometer_status', 'tomatometer_rating', 'tomatometer_count', 'audience_status', 'audience_rating', 'audience_count', 'tomatometer_top_critics_count', 'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count']
MovieLen movies info columns: ['movieId', 'title', 'genres']
TMDB movies info columns: ['Unnamed: 0', 'id', 'title', 'overview', 'popularity', 'vote_average', 'vote_count', 'release_date', 'keywords', 'genres', 'cast', 'crew']

In [16]:
print("Movie Review And Rating Columns")
print("Metacritic movies review columns: "+ str(list(df_metacritic_review.columns)))
print("Rotten Tomatoes movies review columns: "+ str(list(df_tomato_review.columns)))
print("MovieLen movies rating columns: "+ str(list(df_movielen_rating.columns)))

Movie Review And Rating Columns
Metacritic movies review columns: ['title', 'user', 'type', 'grade', 'review', 'spoilers', 'language']
Rotten Tomatoes movies review columns: ['rotten_tomatoes_link', 'critic_name', 'top_critic', 'publisher_name', 'review_type', 'review_score', 'review_date', 'review_content']
MovieLen movies rating columns: ['userId', 'movieId', 'rating', 'timestamp']